@charset "utf-8";
@import '../node_modules/bulma/sass/utilities/initial-variables';

// $pink: #ffd6cb;
$pink: #ffece5;
$teal: #067a7a;
$primary: $pink;
$info: $teal;
$dark: $turquoise;
$warning: #fff6cb;

@import '../node_modules/bulma/sass/utilities/functions';
@import '../node_modules/bulma/sass/utilities/derived-variables.scss';
@import '../node_modules/bulma/bulma.sass';

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
@import '../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass';

.modal {
  position: fixed !important;
}

.pie {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
}

@media only screen and (max-width: 800px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

div.tooltip-donut {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #ffe2c2;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}

.circle-legend--mobile {
  display: none;
}

.pie-container {
  padding-left: 100px;
}

@media (max-width: 530px) {
  .circle-legend {
    display: none;
  }

  .circle-legend--mobile {
    display: block;
  }

  .pie-container {
    padding-left: 85px;
  }
}

.bullet {
  font-size: 24px;
}

.nav-padding {
  padding: 15px;
}

.foodle-padding {
  padding-top: 100px;
  font-size: 45px;
}

.logotype {
  max-width: 375px;
}

.text-padding {
  padding: 100px;
  font-size: 24px;
}

.font-family {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 770px) {
  .pink-image {
    display: none;
  }
}
