@charset "utf-8";
@import '../node_modules/bulma/sass/utilities/initial-variables';

$darkpink: #ffd6cb;
$lightteal: #09a6a6;
$lesshotpink: #ff88d1;
$hotpink: #c63a93;
$mustard: #fac779;
$pinkpurple: #dd98d6;

$pink: #ffece5;
$teal: #067a7a;

$primary: $pink;
$danger: #fac779;
$link: #067a7a;
$dark: $teal;
$warning: #c63a93;
$info: #09a6a6;
$success: #ffd6cb;

@import '../node_modules/bulma/sass/utilities/functions';
@import '../node_modules/bulma/sass/utilities/derived-variables.scss';
@import '../node_modules/bulma/bulma.sass';

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
@import '../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass';

.modal {
  position: fixed !important;
}

.pie {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
}

@media only screen and (max-width: 800px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

.height {
  height: 100vh;
}

div.tooltip-donut {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #ffe2c2;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}

.circle-legend--mobile {
  display: none;
}

.pie-container {
  padding-left: 100px;
}

.bullet {
  font-size: 24px;
}

.nav-padding {
  padding: 15px;
}

.foodle-padding {
  padding-top: 100px;
  font-size: 40px;
}

.logotype {
  max-width: 375px;
}

.text-padding {
  padding: 100px;
  font-size: 24px;
}

.font-family {
  font-family: 'Montserrat', sans-serif;
}

.message-break {
  word-wrap: break-word;
}

.aboutpadding {
  padding: 25px;
}

.aboutparagraph {
  padding-top: 20px;
}

.aboutmargin {
  margin-top: 60px;
}

.linkedin {
  height: 25px;
  width: auto;
  padding-right: 10px;
}

.linkedinlogo {
  display: flex;
  align-self: center;
  justify-content: center;
}

.border {
  border-top: white 2px solid;
}

.padding-bottom {
  padding-bottom: 50px;
}

@media (max-width: 770px) {
  .pink-image {
    display: none;
  }

  .logopadding {
    padding-top: 16px;
  }

  .logotype {
    max-width: 280px;
    padding-top: 12px;
  }
}

@media (max-width: 530px) {
  .circle-legend {
    display: none;
  }

  .circle-legend--mobile {
    display: block;
  }

  .pie-container {
    padding-left: 85px;
  }
}

@media (max-width: 1030px) {
  .bpadding {
    padding: 40px;
  }
}

.background-hero-image {
  background: center / cover no-repeat url('/foodlecolorful.png');
  height: calc(100vh - 100px);

  @media (max-width: 530px) {
    background-image: none;
  }
}

.message.is-success {
  background-color: #ffefeb;
}
.message.is-success .message-header {
  background-color: #ffd6cb;
  color: rgba(0, 0, 0, 0.7);
}
.message.is-success .message-body {
  color: #941f00;
  background-color: white;
}

.message.is-danger {
  background-color: #fef7eb;
}
.message.is-danger .message-header {
  background-color: #fac779;
  color: rgba(0, 0, 0, 0.7);
}
.message.is-danger .message-body {
  border-color: #fac779;
  color: #8f5805;
  background-color: white;
}
