body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.accordion_section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: white;
  color: rgb(182, 179, 179);
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  border-color: white;
  outline: none;
  transition: white 0.6s ease;
}

.accordion:hover,
.active {
  background-color: rgb(233, 230, 230);
}

.accordion_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-color: white;
}

.accordion_icon {
  margin-left: auto;
  transition: transform 0s ease;
}

.rotate {
  transform: rotate (90deg);
}

.accordion_content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0s ease;
  /* max-height:0; */
}

.accordion_text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 18px;
}

.margin-right {
  margin-right: 6px;
}

.labelName {
  font-size: 20px;
}
